html {
    scroll-behavior: smooth;
}
header{
    background-color: lightgray;
    padding: 5%;
    text-align: left;
    border-radius: 15px;
}
.profile-pic {
    width: 150px;
    height: 150px;
    border-radius: 50%;
}
header h1 {
    font-family: Arial, Helvetica, sans-serif;
    color: inherit;
    margin-left: 13%;
    margin-top: -8.5%;
}
header h2 {
    font-family: Arial, Helvetica, sans-serif;
    color: gray;
    font-size: 125%;
    margin-left: 13%;
    margin-top: -1%;
}
nav {
    margin-left: 13%;
    margin-top: 1%;
    display: flex;
    gap: 1%;
}
a {
    color: inherit;
    text-decoration: none;
    font-family: Arial, Helvetica, sans-serif;
}
section, #about, #projects, #experience, #contact {
    background-color: lightgray;
    font-family: Arial, Helvetica, sans-serif;
    border-radius: 2px solid lightgray;
    padding: 100px;
    text-align: center;
    margin: 5px;
    border-radius: 15px;
}
footer {
    background-color: lightgray;
    text-align: center;
    padding: 10px;
    font-family: Arial, Helvetica, sans-serif;
    margin-top: 20px;
}